@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  overflow-x: hidden;
  background-image: url('./assets/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}